<div class="container">
  <h2 mat-dialog-title class="mat-h6">Nova Pessoa</h2>
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apelido</mat-label>
      <input matInput formControlName="username" placeholder="Digite o nome de usuário">
      <mat-error *ngIf="formControls['username'].errors?.['required']">
        Apelido é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="first_name" placeholder="Digite o nome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="last_name" placeholder="Digite o sobrenome">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Digite o email">
      <mat-error *ngIf="formControls['email'].errors?.['required']">
        Email é obrigatório
      </mat-error>
      <mat-error *ngIf="formControls['email'].errors?.['email']">
        Email inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        <mat-option value="">Selecione um tipo</mat-option>
        <mat-option value="student">Estudante</mat-option>
        <mat-option value="teacher">Professor</mat-option>
      </mat-select>
      <mat-error *ngIf="formControls['type'].errors?.['required']">
        Tipo é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Digite a senha">
      <mat-error *ngIf="formControls['password'].errors?.['minlength']">
        A senha deve ter no mínimo 6 caracteres
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>
